Repository RoboJackets/robocup-software, pull requests merged in 2018-09, with the labels that each got.

#1175 Merging changes from competition 2018
  common/Constants.hpp
  run/soccer-real.cfg
  runcomp.sh
  soccer/KickEvaluator.hpp
  soccer/LogViewer.cpp
  soccer/MainWindow.cpp
  soccer/NewRefereeModule.cpp
  soccer/Processor.cpp
  soccer/Robot.cpp
  soccer/Robot.hpp
  soccer/SystemState.cpp
  soccer/SystemState.hpp
  soccer/WindowEvaluator.cpp
  soccer/config/realCanada.xml
  soccer/gameplay/evaluation/ball.py
  soccer/gameplay/evaluation/defensive_positioning.py
  soccer/gameplay/evaluation/double_touch.py
  soccer/gameplay/evaluation/passing_positioning.py
  soccer/gameplay/evaluation/shooting.py
  soccer/gameplay/fsm.py
  soccer/gameplay/playbooks/adap.pbk
  soccer/gameplay/plays/offense/adaptive_formation.py
  soccer/gameplay/plays/offense/basic_122.py
  soccer/gameplay/plays/restarts/our_corner_kick.py
  soccer/gameplay/plays/restarts/our_free_kick.py
  soccer/gameplay/plays/restarts/our_goal_kick.py
  soccer/gameplay/plays/restarts/our_kickoff.py
  soccer/gameplay/plays/testing/line_up.py
  soccer/gameplay/plays/testing/test_find_gap.py
  soccer/gameplay/plays/testing/test_forward_pass.py
  soccer/gameplay/plays/testing/test_pivot_kick.py
  soccer/gameplay/plays/testing/triangle_pass.py
  soccer/gameplay/robocup-py.cpp
  soccer/gameplay/role_assignment.py
  soccer/gameplay/root_play.py
  soccer/gameplay/skills/aim.py
  soccer/gameplay/skills/capture.py
  soccer/gameplay/skills/line_kick.py
  soccer/gameplay/skills/pass_receive.py
  soccer/gameplay/skills/pivot_kick.py
  soccer/gameplay/tactics/coordinated_pass.py
  soccer/gameplay/tactics/defense.py
  soccer/gameplay/tactics/forward_pass.py
  soccer/gameplay/tactics/line_up.py
  soccer/gameplay/tactics/positions/goalie.py
  soccer/gameplay/tactics/positions/submissive_defender.py
  soccer/modeling/BallFilter.cpp
  soccer/planning/LineKickPlanner.cpp
  soccer/planning/RRTPlanner.cpp
  soccer/radio/USBRadio.cpp
Labels: area / AI, area / planning-motion, area / plays, area / simulator, area / soccer, area / support, exp / legendary (∞), priority / high, status / code-review, type / enhancement

#1101 More Soccer Tests
  soccer/gameplay/evaluation/opponent.py
  soccer/gameplay/robocup-py.cpp
  soccer/gameplay/tests/test_field.py
  soccer/gameplay/tests/test_opponent.py
  soccer/gameplay/tests/test_passing.py
  soccer/gameplay/tests/test_shooting.py
Labels: priority / low, status / code-review, type / enhancement

#1186 Disable Dribbler When Out of Bounds
  soccer/Robot.cpp
  soccer/Robot.hpp
Labels: area / soccer, exp / adept (2), priority / medium, status / code-review, type / new feature

#1185 Add Movement to the Test_Capture play
  soccer/gameplay/plays/testing/test_capture.py
Labels: area / plays, exp / adept (2), priority / low, status / pending-changes, type / enhancement
