Repository RoboJackets/robocup-software, pull requests merged in 2018-11, with the labels that each got.

#1135 Advance Midfielder
  soccer/gameplay/plays/offense/adaptive_formation.py
  soccer/gameplay/tactics/advance_zone_midfielder.py
Labels: area / plays, exp / expert (3), priority / wishlist, status / ready

#1217 Removed commented print statements from shooting.py
  soccer/gameplay/evaluation/shooting.py
Labels: area / soccer, exp / novice (1), priority / wishlist, status / ready, type / refactor

#1088 Update stylize to new framework
  .stylize.yml
  config.docif
  makefile
  util/arch-packages.txt
  util/arch-setup
  util/docker/baseimage/Dockerfile
  util/osx-packages.txt
  util/osx-setup
  util/requirements3.txt
  util/ubuntu-packages.txt
  util/ubuntu-setup
Labels: area / support, exp / expert (3), priority / low, status / developing, type / enhancement
