Repository RoboJackets/robocup-software, pull requests merged in 2018-02, with the labels that each got.

#1094 Fix get closest opponent
  soccer/gameplay/evaluation/opponent.py
Labels: area / support, priority / low, status / code-review, type / bug

#1096 Fixes a few bugs for Kick Eval
  soccer/KickEvaluator.cpp
  soccer/KickEvaluatorTest.cpp
Labels: area / soccer, exp / adept (2), priority / medium, status / code-review, type / bug

#911 Fix line kick and forward pass.
  soccer/SystemState.cpp
  soccer/config/realGermany.xml
  soccer/gameplay/plays/testing/repeated_line_up.py
  soccer/gameplay/skills/line_kick.py
  soccer/gameplay/skills/line_kick_receive.py
  soccer/gameplay/tactics/coordinated_pass.py
  soccer/modeling/BallFilter.cpp
  soccer/motion/MotionControl.cpp
  soccer/motion/MotionControl.hpp
  soccer/planning/CompositePath.cpp
  soccer/planning/CompositePath.hpp
  soccer/planning/DirectTargetPathPlanner.cpp
  soccer/planning/IndependentMultiRobotPathPlanner.cpp
  soccer/planning/InterpolatedPath.cpp
  soccer/planning/InterpolatedPath.hpp
  soccer/planning/LineKickPlanner.cpp
  soccer/planning/LineKickPlanner.hpp
  soccer/planning/MotionConstraints.cpp
  soccer/planning/MotionConstraints.hpp
  soccer/planning/Path.cpp
  soccer/planning/Path.hpp
  soccer/planning/PivotPathPlanner.cpp
  soccer/planning/RRTPlanner.cpp
  soccer/planning/RRTPlanner.hpp
  soccer/planning/RRTUtil.cpp
  soccer/planning/RRTUtil.hpp
  soccer/planning/SingleRobotPathPlanner.cpp
  soccer/planning/SingleRobotPathPlanner.hpp
  soccer/planning/TargetVelPathPlanner.cpp
  soccer/planning/TrapezoidalPath.cpp
  soccer/planning/TrapezoidalPath.hpp
  soccer/planning/TuningPathPlanner.cpp
Labels: area / planning-motion, area / plays, exp / master (4), priority / high, status / developing, type / enhancement
