Repository RoboJackets/robocup-software, pull requests merged in 2019-07, with the labels that each got.

#1260 Shoot Out Plays
  soccer/GameState.hpp
  soccer/gameplay/constants.py
  soccer/gameplay/plays/restarts/defend_penalty.py
  soccer/gameplay/plays/restarts/kick_penalty.py
  soccer/gameplay/plays/restarts/our_shootout_chip.py
  soccer/gameplay/plays/restarts/our_shootout_kick.py
  soccer/gameplay/plays/restarts/their_shoot_out.py
  soccer/gameplay/robocup-py.cpp
Labels: area / plays, exp / adept (2), priority / medium, status / code-review, type / new feature

#1251 Adaptive defender + Wing defender
  soccer/gameplay/evaluation/defensive_positioning.py
  soccer/gameplay/evaluation/linear_classification.py
  soccer/gameplay/plays/testing/test_adaptive_defense.py
  soccer/gameplay/plays/testing/test_winger.py
  soccer/gameplay/tactics/adaptive_defense.py
  soccer/gameplay/tactics/positions/wing_defender.py
Labels: area / AI, exp / adept (2), priority / medium, status / developing, type / new feature

#1302 Per-Line Checkstyle/Formatter
  .circleci/config.yml
  makefile
  util/yapf-diff.py
Labels: area / support, exp / expert (3), priority / low, status / code-review, type / enhancement

#1299 Move UI to separate directory
  soccer/CMakeLists.txt
  soccer/Processor.hpp
  soccer/gameplay/GameplayModule.cpp
  soccer/main.cpp
  soccer/ui/BatteryWidget.cpp
  soccer/ui/BatteryWidget.hpp
  soccer/ui/FieldView.cpp
  soccer/ui/FieldView.hpp
  soccer/ui/MainWindow.cpp
  soccer/ui/MainWindow.hpp
  soccer/ui/ProtobufTree.cpp
  soccer/ui/ProtobufTree.hpp
  soccer/ui/RefereeTab.cpp
  soccer/ui/RefereeTab.hpp
  soccer/ui/RobotStatusWidget.cpp
  soccer/ui/RobotStatusWidget.hpp
  soccer/ui/RobotWidget.cpp
  soccer/ui/RobotWidget.hpp
  soccer/ui/SimFieldView.cpp
  soccer/ui/SimFieldView.hpp
  soccer/ui/StripChart.cpp
  soccer/ui/StripChart.hpp
  soccer/ui/qt/ConfigFileTab.ui
  soccer/ui/qt/LogViewer.ui
  soccer/ui/qt/MainWindow.ui
  soccer/ui/qt/RefereeTab.ui
  soccer/ui/qt/RobotStatusWidget.ui
  soccer/ui/qt/SoccerBall.icns
  soccer/ui/qt/SoccerBall.png
  soccer/ui/qt/direct_blue.svg
  soccer/ui/qt/direct_yellow.svg
  soccer/ui/qt/force_start.svg
  soccer/ui/qt/halt.svg
  soccer/ui/qt/indirect_blue.svg
  soccer/ui/qt/indirect_yellow.svg
  soccer/ui/qt/kickoff_blue.svg
  soccer/ui/qt/kickoff_yellow.svg
  soccer/ui/qt/live.svg
  soccer/ui/qt/log_icons.qrc
  soccer/ui/qt/main_icons.qrc
  soccer/ui/qt/next-frame.svg
  soccer/ui/qt/nyan.svg
  soccer/ui/qt/pause.svg
  soccer/ui/qt/play.svg
  soccer/ui/qt/prev-frame.svg
  soccer/ui/qt/radio-connected.svg
  soccer/ui/qt/radio-disconnected.svg
  soccer/ui/qt/rainbow.svg
  soccer/ui/qt/ready.svg
  soccer/ui/qt/rewind.svg
  soccer/ui/qt/running.png
  soccer/ui/qt/stop.svg
  soccer/ui/qt/themes/1337h4x0r.stylesheet
  soccer/ui/qt/themes/QTDark.stylesheet
  soccer/ui/qt/themes/darculized.stylesheet
  soccer/ui/qt/themes/nyan.stylesheet
  soccer/ui/qt/vision-available.svg
  soccer/ui/qt/vision-unavailable.svg
Labels: area / support, exp / adept (2), priority / low, status / code-review

#1303 Refactor systemstate context
  soccer/CMakeLists.txt
  soccer/Context.hpp
  soccer/KickEvaluatorTest.cpp
  soccer/NewRefereeModule.cpp
  soccer/NewRefereeModule.hpp
  soccer/Processor.cpp
  soccer/Processor.hpp
  soccer/Robot.cpp
  soccer/Robot.hpp
  soccer/SystemState.cpp
  soccer/SystemState.hpp
  soccer/WindowEvaluatorTest.cpp
  soccer/gameplay/GameplayModule.cpp
  soccer/gameplay/GameplayModule.hpp
  soccer/gameplay/robocup-py.cpp
  soccer/gameplay/tests/test_opponent.py
  soccer/gameplay/tests/test_passing.py
  soccer/gameplay/tests/test_role_assignment.py
  soccer/gameplay/tests/test_shooting.py
  soccer/planning/EscapeObstaclesPathPlannerTest.cpp
  soccer/planning/TargetVelPathPlannerTest.cpp
  soccer/radio/SimRadio.cpp
  soccer/radio/SimRadio.hpp
Labels: area / soccer, exp / novice (1), priority / high, status / ready, type / refactor

#1304 Move GameState out of SystemState
  soccer/Context.hpp
  soccer/NewRefereeModule.cpp
  soccer/Processor.cpp
  soccer/Processor.hpp
  soccer/Robot.cpp
  soccer/SystemState.hpp
  soccer/gameplay/GameplayModule.cpp
  soccer/gameplay/robocup-py.cpp
  soccer/ui/MainWindow.cpp
Labels: area / soccer, exp / novice (1), priority / medium, type / refactor
