Repository RoboJackets/robocup-software, pull requests merged in 2019-11, with the labels that each got.

#1364 Refactor Vision to use Pose and Twist
  soccer/Processor.cpp
  soccer/Processor.hpp
  soccer/vision/filter/KalmanFilter3D.cpp
  soccer/vision/filter/KalmanFilter3D.hpp
  soccer/vision/robot/CameraRobot.cpp
  soccer/vision/robot/CameraRobot.hpp
  soccer/vision/robot/KalmanRobot.cpp
  soccer/vision/robot/KalmanRobot.hpp
  soccer/vision/robot/WorldRobot.cpp
  soccer/vision/robot/WorldRobot.hpp
  soccer/vision/tests/BallBounceTest.cpp
  soccer/vision/tests/CameraRobotTest.cpp
  soccer/vision/tests/CameraTest.cpp
  soccer/vision/tests/KalmanRobotTest.cpp
  soccer/vision/tests/WorldRobotTest.cpp
Labels: area / soccer, exp / adept (2), priority / medium, review / needs-minor-reviewer, type / refactor

#1357 Situational plays beta
  soccer/gameplay/plays/offense/adaptive_formation.py
  soccer/gameplay/plays/offense/basic_122.py
  soccer/gameplay/situational_play_selection.py
  soccer/gameplay/standard_play.py
Labels: area / plays, exp / expert (3), priority / high, review / needs-minor-reviewer, status / code-review, type / new feature

#1378 Defend clear situation
  soccer/gameplay/plays/defense/DefendClear.py
Labels: area / plays, status / code-review, type / new feature

#1365 Defend goal situation
  soccer/gameplay/evaluation/opponent.py
  soccer/gameplay/plays/defense/defend_goal.py
  soccer/gameplay/tactics/positions/wing_defender.py
Labels: area / plays, exp / expert (3), priority / medium, review / needs-major-reviewer, review / needs-minor-reviewer, type / new feature

#1383 remove standard defense from wingerwall
  soccer/gameplay/plays/defense/winger_wall.py
Labels: area / plays, priority / wishlist, status / ready-for-merge, type / bug

#1375 Add Automated Testing Framework
  soccer/CMakeLists.txt
  soccer/Context.hpp
  soccer/GameState.hpp
  soccer/GrSimCommunicator.cpp
  soccer/GrSimCommunicator.hpp
  soccer/NewRefereeModule.cpp
  soccer/Processor.cpp
  soccer/Processor.hpp
  soccer/gameplay/GameplayModule.cpp
  soccer/gameplay/GameplayModule.hpp
  soccer/gameplay/gameplay_test.py
  soccer/gameplay/gameplay_tests/__init__.py
  soccer/gameplay/gameplay_tests/example.py
  soccer/gameplay/main.py
  soccer/gameplay/robocup-py.cpp
  soccer/gameplay/test_list.py
  soccer/gameplay/test_registry.py
  soccer/gameplay/test_system.py
  soccer/gameplay/ui/main.py
  soccer/ui/MainWindow.cpp
  soccer/ui/MainWindow.hpp
  soccer/ui/SimFieldView.cpp
  soccer/ui/SimFieldView.hpp
  soccer/ui/qt/MainWindow.ui
Labels: area / plays, area / ui, exp / master (4), priority / high, status / ready-for-merge, type / new feature

#1349 Latent Behaviors in Formation
  soccer/gameplay/formation/__init__.py
  soccer/gameplay/formation/controller.py
  soccer/gameplay/main.py
  soccer/gameplay/plays/testing/test_formation.py
  soccer/gameplay/positions/__init__.py
  soccer/gameplay/positions/position.py
  soccer/gameplay/positions/simple_goalie.py
  soccer/gameplay/positions/simple_position.py
  soccer/gameplay/robocup-py.cpp
Labels: area / AI, exp / expert (3), priority / low, status / code-review, type / enhancement
