Repository RoboJackets/robocup-software, pull requests merged in 2019-09, with the labels that each got.

#1327 Delete old/ directory
  old/bezier/bezier.cpp
  old/bezier/bezier.hpp
  old/modeling-old/BallModel.cpp
  old/modeling-old/BallModel.hpp
  old/modeling-old/EKFBallModel.cpp
  old/modeling-old/EKFBallModel.hpp
  old/modeling-old/KalmanBallModel.cpp
  old/modeling-old/KalmanBallModel.hpp
  old/modeling-old/RBPFBallModel.cpp
  old/modeling-old/RBPFBallModel.hpp
  old/modeling-old/RobotModel.cpp
  old/modeling-old/RobotModel.hpp
  old/modeling-old/WorldModel.cpp
  old/modeling-old/WorldModel.hpp
  old/modeling-old/kalman/ExtendedKalmanFilter.cpp
  old/modeling-old/kalman/ExtendedKalmanFilter.hpp
  old/modeling-old/kalman/KalmanFilter.cpp
  old/modeling-old/kalman/difference_kalman.cpp
  old/modeling-old/kalman/difference_kalman.hpp
  old/modeling-old/kalman/displayKalman.m
  old/modeling-old/kalman/kalman.cpp
  old/modeling-old/kalman/kalman.h
  old/modeling-old/kalman/kalman_test.cpp
  old/modeling-old/matlab/RBF_BallTracker.m
  old/modeling-old/rbpf/Rbpf.cpp
  old/modeling-old/rbpf/Rbpf.hpp
  old/modeling-old/rbpf/RbpfModel.cpp
  old/modeling-old/rbpf/RbpfModel.hpp
  old/modeling-old/rbpf/RbpfModelGraph.cpp
  old/modeling-old/rbpf/RbpfModelGraph.hpp
  old/modeling-old/rbpf/RbpfModelKicked.cpp
  old/modeling-old/rbpf/RbpfModelKicked.hpp
  old/modeling-old/rbpf/RbpfModelRolling.cpp
  old/modeling-old/rbpf/RbpfModelRolling.hpp
  old/modeling-old/rbpf/RbpfState.cpp
  old/modeling-old/rbpf/RbpfState.hpp
  old/modeling-old/rbpf/rbpfMatrices.h
Labels: area / support, exp / novice (1), priority / low

#1230 Distraction play
  soccer/gameplay/plays/offense/distraction.py
Labels: area / plays, exp / adept (2), priority / low, status / ready-for-merge, type / enhancement

#1330 Motion control module
  soccer/CMakeLists.txt
  soccer/Node.hpp
  soccer/Processor.cpp
  soccer/Processor.hpp
  soccer/Robot.cpp
  soccer/Robot.hpp
  soccer/motion/MotionControl.cpp
  soccer/motion/MotionControlNode.cpp
  soccer/motion/MotionControlNode.hpp
Labels: area / soccer, area / support, exp / novice (1), priority / medium, type / refactor

#1270 Integrate adaptive d
  soccer/gameplay/constants.py
  soccer/gameplay/evaluation/ball.py
  soccer/gameplay/evaluation/defensive_positioning.py
  soccer/gameplay/evaluation/linear_classification.py
  soccer/gameplay/plays/defense/__init__.py
  soccer/gameplay/plays/defense/winger_wall.py
  soccer/gameplay/plays/testing/test_wing_defender.py
  soccer/gameplay/tactics/positions/wing_defender.py
  soccer/gameplay/tactics/wall.py
Labels: area / plays, exp / expert (3), priority / medium, status / code-review, type / enhancement

#1336 Fix referee receiver to not change teams when no team name matches
  soccer/NewRefereeModule.cpp
  soccer/NewRefereeModule.hpp
  soccer/Processor.cpp
  soccer/ui/MainWindow.cpp
Labels: area / soccer, exp / adept (2), priority / high, type / bug

#1333 Refactor robot pose base class into WorldState
  soccer/Context.hpp
  soccer/KickEvaluator.cpp
  soccer/KickEvaluatorTest.cpp
  soccer/Processor.cpp
  soccer/Robot.cpp
  soccer/Robot.hpp
  soccer/SystemState.cpp
  soccer/WindowEvaluator.cpp
  soccer/WindowEvaluatorTest.cpp
  soccer/WorldState.hpp
  soccer/gameplay/GameplayModule.cpp
  soccer/gameplay/robocup-py.cpp
  soccer/gameplay/tests/test_role_assignment.py
  soccer/motion/MotionControl.cpp
  soccer/ui/MainWindow.cpp
  soccer/vision/VisionFilter.cpp
Labels: area / soccer, exp / adept (2), priority / medium, status / code-review, type / refactor
