Repository RoboJackets/robocup-software, pull requests merged in 2019-03, with the labels that each got.

#1237 basic indirect kick
  soccer/gameplay/plays/restarts/basic_indirect.py
Labels: area / soccer, exp / adept (2), priority / low, status / ready-for-merge, type / enhancement

#1244 Fix race condition in radio code
  soccer/Processor.cpp
  soccer/radio/Radio.hpp
  soccer/radio/SimRadio.cpp
  soccer/radio/USBRadio.cpp
Labels: area / soccer, exp / adept (2), priority / medium, status / ready-for-merge, type / bug

#1240 Wall Tactic
  soccer/gameplay/plays/testing/test_wall.py
  soccer/gameplay/tactics/wall.py
Labels: area / AI, exp / adept (2), priority / medium, status / pending-changes, type / new feature
