Repository RoboJackets/robocup-software, pull requests merged in 2019-10, with the labels that each got.

#1332 Vision receiver module
  common/multicast.cpp
  common/multicast.hpp
  soccer/Context.hpp
  soccer/Processor.cpp
  soccer/Processor.hpp
  soccer/VisionReceiver.cpp
  soccer/VisionReceiver.hpp
  soccer/ui/MainWindow.cpp
  soccer/vision/VisionPacket.hpp
Labels: area / soccer, exp / adept (2), priority / medium, status / pending-changes, type / refactor

#1366 Update requirements3.txt
  util/requirements3.txt
Labels: area / support

#1367 Robot Intent
  soccer/Context.hpp
  soccer/Processor.cpp
  soccer/Processor.hpp
  soccer/Robot.cpp
  soccer/Robot.hpp
  soccer/RobotIntent.hpp
  soccer/motion/MotionControl.cpp
  soccer/motion/MotionControl.hpp
  soccer/motion/MotionSetpoint.hpp
  soccer/radio/NetworkRadio.cpp
  soccer/radio/NetworkRadio.hpp
  soccer/radio/PacketConvert.cpp
  soccer/radio/PacketConvert.hpp
  soccer/radio/Radio.hpp
  soccer/radio/SimRadio.cpp
  soccer/radio/SimRadio.hpp
Labels: area / soccer, exp / adept (2), exp / new-member-project, priority / medium, review / needs-minor-reviewer, status / code-review, status / ready, type / refactor

#1368 Copy ball pos/vel when reading from python instead of by ref
  soccer/gameplay/robocup-py.cpp
Labels: area / soccer, exp / adept (2), priority / medium, review / needs-minor-reviewer, status / code-review, type / bug

#1360 Change stylize diff base to staging
  makefile
Labels: area / support

#1355 Coordinated pass fix
  soccer/gameplay/tactics/coordinated_pass.py
Labels: area / plays, exp / adept (2), priority / high, status / code-review, type / bug

#1331 Clear play
  soccer/gameplay/plays/offense/clear.py
Labels: area / plays, exp / novice (1), priority / low, status / developing

#1369 using std::clamp
  common/Geometry2d/Util.hpp
  soccer/radio/PacketConvert.cpp
Labels: exp / new-member-project

#1363 Celebrate Good Times, Come on
  soccer/gameplay/plays/testing/test_celebration.py
  soccer/gameplay/tactics/positions/celebration.py
Labels: area / plays, exp / legendary (∞), priority / wishlist, status / code-review

#1373 Enable ball sense -- Use OurRobot.has_ball() over evaluation.ball.robot_has_ball(OurRobot) where possible
  soccer/gameplay/plays/offense/adaptive_formation.py
  soccer/gameplay/skills/angle_receive.py
  soccer/gameplay/skills/capture.py
  soccer/gameplay/skills/collect.py
  soccer/gameplay/skills/line_kick.py
  soccer/gameplay/skills/pass_receive.py
  soccer/gameplay/skills/pivot_kick.py
  soccer/gameplay/tactics/defensive_forward.py
Labels: area / plays, area / soccer, exp / novice (1), priority / high, status / code-review
