Repository RoboJackets/robocup-software, pull requests merged in 2020-03, with the labels that each got.

#1415 Consolidate CI Jobs and Disable Caching
  .circleci/config.yml
Labels: area / support, priority / low

#1413 Refactor vision receiver
  soccer/Context.hpp
  soccer/GameState.hpp
  soccer/Processor.cpp
  soccer/Processor.hpp
  soccer/VisionReceiver.cpp
  soccer/VisionReceiver.hpp
Labels: area / soccer, area / support, exp / expert (3), priority / low, review / needs-major-reviewer, review / needs-minor-reviewer, status / code-review, type / refactor

#1405 Defensive restarts
  soccer/gameplay/gameplay_tests/example.py
  soccer/gameplay/gameplay_tests/pile_up_two_bots_midline.py
  soccer/gameplay/plays/Defend_Restart_Defensive/BasicDefendRestartDefensive.py
  soccer/gameplay/plays/Defend_Restart_Defensive/__init__.py
  soccer/gameplay/plays/Defend_Restart_Offensive/BasicDefendRestartOffensive.py
  soccer/gameplay/plays/Defend_Restart_Offensive/__init__.py
  soccer/gameplay/tactics/wall.py
Labels: area / plays, exp / adept (2), priority / medium, status / code-review

#1426 Refactor Referee Module for pub/sub architecture + small refactor
  logging/log_converter.cpp
  soccer/CMakeLists.txt
  soccer/GameState.hpp
  soccer/Processor.cpp
  soccer/Processor.hpp
  soccer/Referee.cpp
  soccer/Referee.hpp
  soccer/gameplay/GameplayModule.cpp
  soccer/gameplay/GameplayModule.hpp
  soccer/gameplay/robocup-py.cpp
  soccer/ui/MainWindow.cpp
Labels: area / soccer, exp / adept (2), status / pending-changes, type / refactor
