Repository RoboJackets/robocup-software, pull requests merged in 2020-05, with the labels that each got.

#1441 Add GameSettings struct to Context
  grsim.xml
  soccer/Context.hpp
  soccer/GameSettings.hpp
  soccer/GameState.hpp
  soccer/Processor.cpp
  soccer/Processor.hpp
  soccer/Referee.cpp
  soccer/Referee.hpp
  soccer/VisionReceiver.cpp
  soccer/gameplay/GameplayModule.cpp
  soccer/gameplay/GameplayModule.hpp
  soccer/gameplay/root_play.py
  soccer/main.cpp
  soccer/radio/RadioNode.cpp
  soccer/radio/RadioNode.hpp
  soccer/radio/SimRadio.cpp
  soccer/ui/MainWindow.cpp
  soccer/ui/MainWindow.hpp
  soccer/ui/SimFieldView.cpp
  soccer/ui/qt/MainWindow.ui
Labels: area / soccer, exp / expert (3), priority / high, review / needs-major-reviewer, review / needs-minor-reviewer, status / code-review, type / refactor

#1469 Added a few geometry tests
  common/Geometry2d/ArcTest.cpp
  common/Geometry2d/CircleTest.cpp
  common/Geometry2d/CompositeShapeTest.cpp
  common/Geometry2d/LineTest.cpp
  makefile
  soccer/CMakeLists.txt
  util/clang-tidy-diff.py
Labels: area / support, exp / novice (1), priority / wishlist, status / code-review, type / refactor

#1468 Make diff checks operate against the most recent common ancestor.
  .circleci/config.yml
  makefile
Labels: area / support

#1467 Processor logging refactor
  common/protobuf/Control.proto
  common/protobuf/LogFrame.proto
  common/protobuf/Point.proto
  common/protobuf/RadioRx.proto
  common/protobuf/RadioTx.proto
  common/protobuf/SimCommand.proto
  common/status.h
  soccer/CMakeLists.txt
  soccer/Context.hpp
  soccer/DebugDrawer.cpp
  soccer/DebugDrawer.hpp
  soccer/Logger.cpp
  soccer/Logger.hpp
  soccer/LoggerTest.cpp
  soccer/Processor.cpp
  soccer/Processor.hpp
  soccer/Referee.cpp
  soccer/Referee.hpp
  soccer/Robot.cpp
  soccer/Robot.hpp
  soccer/RobotConfig.cpp
  soccer/RobotConfig.hpp
  soccer/SystemState.hpp
  soccer/VisionReceiver.cpp
  soccer/gameplay/GameplayModule.cpp
  soccer/main.cpp
  soccer/planning/InterpolatedPath.cpp
  soccer/planning/Path.cpp
  soccer/planning/Path.hpp
  soccer/radio/NetworkRadio.cpp
  soccer/radio/NetworkRadio.hpp
  soccer/radio/PacketConvert.cpp
  soccer/radio/PacketConvert.hpp
  soccer/radio/Radio.hpp
  soccer/radio/RadioNode.cpp
  soccer/radio/RobotStatus.hpp
  soccer/radio/SimRadio.cpp
  soccer/radio/SimRadio.hpp
  soccer/ui/FieldView.cpp
  soccer/ui/MainWindow.cpp
  soccer/ui/MainWindow.hpp
  soccer/ui/RobotStatusWidget.cpp
  soccer/ui/RobotStatusWidget.hpp
  soccer/ui/StripChart.cpp
  soccer/ui/StripChart.hpp
Labels: area / logger, area / soccer, exp / master (4), priority / high, status / code-review, type / refactor
